.Rhistory
.Rapp.history
.RData
/**/.Rproj.user/
# Count data from htseq-count
*.bed
*.docx
*.xlsx
*.emf
*.jpg
*.png
/bash/**/*e
/bash/**/*o*
/bash/*.txt
/C#/DICAMExportFolderizer
/C#/DICOMExporter
/C#/SeriesFolderiser
/C#/SigmaPlotRipper
/C#/**/bin
/C#/**/obj
/Java/
/Perl/
/Python/**/*.ris
/Python/**/*.nbib
/Python/**/*.enw
/Python/*.txt
/Python/ENSEMBL/*.txt
/Python/input Miriam - Copy.txt
/Python/input Miriam.txt
/R/**/*.counts
/R/**/*.rds
/R/.Rproj.user
/R/*.RData
/R/GWPM_HF_Paper
/R/leafcutter
/R/LKB_RNA_Nutshell
/R/LKB_PhD_ReCode/Data/
/R/LKB_PhD_ReCode/Code/Desktop/ERROR.R
/R/Misc
/R/**/*.gmt
/VBA/