# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
# Count data from htseq-count
*.counts
# R binary object files (tend to be big chunky boys)
*.rds
.Rproj.user
/*.txt
/*.tsv
*.RData
*.bed
*.docx
*.xlsx
*.emf
*.jpg
*.png
*.e*
*.o*
C#/DICAMExportFolderizer
C#/DICOMExporter
C#/SeriesFolderiser
C#/SigmaPlotRipper
Java/
Perl/
VBA/
Python/input Miriam - Copy.txt
Python/input Miriam.txt
R/GWPM_HF_Paper
R/leafcutter
R/LKB_RNA_Nutshell
R/Misc
R/LKB_PhD_ReCode/.git/
R/LKB_PhD_ReCode/Graphs/
R/LKB_PhD_ReCode/Data/
R/LKB_PhD_ReCode/Code/Eales/
R/LKB_PhD_ReCode/Code/Desktop/Auxiliary/5-LeafCutterPlotRedo.txt
R/LKB_PhD_ReCode/Code/Desktop/ageImputation.R
R/LKB_PhD_ReCode/Code/Desktop/config.R
R/LKB_PhD_ReCode/Code/Desktop/ERROR.R
R/LKB_PhD_ReCode/Code/Desktop/leafcutter_Hack/juncs
R/LKB_PhD_ReCode/Code/Desktop/leafcutter_Hack/leafcutter_cluster/bin/Release/netcoreapp2.1/publish
R/LKB_PhD_ReCode/Code/Desktop/leafcutter_Hack/leafcutter_cluster/bin
R/LKB_PhD_ReCode/Code/Desktop/leafcutter_Hack/leafcutter_cluster/obj
R/LKB_PhD_ReCode/Code/Desktop/leafcutter_Hack/.vs/leafcutter_cluster/v15
R/LKB_PhD_ReCode/Code/Desktop/leafcutter_Hack/.vs/leafcutter_clustering/v15/Server/sqlite3
R/LKB_PhD_ReCode/Code/Desktop/leafcutter_Hack/dotnet190130.vsp
R/LKB_PhD_ReCode/Code/Desktop/leafcutter_Hack/leafcutter_cluster190130.vsp
R/LKB_PhD_ReCode/Code/Desktop/leafcutter_Hack/leafcutter_cluster190130(1).vsp
R/LKB_PhD_ReCode/Data/*
*.ris
*.gmt
*.nbib
Python/*.txt
bash/*.txt