.Rhistory
.Rapp.history
.RData
.Rproj.user/
*.counts
*.rds
/*.txt
/*.tsv
Data/*/
Graphs/*
Code/Eales/*
Code/Desktop/Auxiliary/5-LeafCutterPlotRedo.txt
Code/Desktop/leafcutter_Hack/juncs
Code/Desktop/leafcutter_Hack/leafcutter_cluster/bin/Release/netcoreapp2.1/publish
Code/Desktop/leafcutter_Hack/leafcutter_cluster/bin
Code/Desktop/leafcutter_Hack/leafcutter_cluster/obj
Code/Desktop/leafcutter_Hack/.vs/leafcutter_cluster/v15
Code/Desktop/leafcutter_Hack/.vs/leafcutter_clustering/v15/Server/sqlite3
Code/Desktop/leafcutter_Hack/dotnet190130.vsp
Code/Desktop/leafcutter_Hack/leafcutter_cluster190130.vsp
Code/Desktop/leafcutter_Hack/leafcutter_cluster190130(1).vsp
*.bed
*.docx
*.xlsx
*.emf
*.jpg
*.png
Code/**/.dll
.Rproj.user
